@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

// Create your own map
$custom-colors: (
  "f-primary": #900,
  "f-secondary": green
);

body {
  font-family: 'Josefin Sans', sans-serif !important;
}

.navbar a:hover {
  border-bottom: 3px solid #0d6efd;
}
.navbar a {
  border-bottom: 3px solid white;
}
.navbar .avisos {
  border-bottom: none;
}

.navbar .avisos:hover {
  border-bottom:none;
}

.drop1 {
  background-color: #5B9BD5 !important;
}

.dropOdd {
  background-color: #D2DEEF !important;
}

.dropEven {
  background-color: #EAEFF7 !important;
}

.imgText {
  z-index: 2;
  color: #1303fd;
  font-style: italic;
  text-shadow: 0 0 20px whitesmoke;
  font-size: 45px;
  -webkit-text-stroke: 0.01px #414e7c;
  font-weight: bold;
}

.textCont {
  top: 85% !important;
    z-index: 2;
    background-color: rgb(237 98 98 / 40%);
    box-shadow: 0 0 15px rgb(237 98 98 / 77%);
}

.imgTextMob {
  z-index: 2;
  color: #1303fd;
  font-style: italic;
  text-shadow: 0 0 20px whitesmoke;
  font-size: 30px;
  -webkit-text-stroke: 0.01px #414e7c;
  font-weight: bold;
}

.textContMob {
  top: 75% !important;
    z-index: 2;
    background-color: rgb(237 98 98 / 40%);
    box-shadow: 0 0 15px rgb(237 98 98 / 77%);
    width: 75%;
}

